        <!-- FOOTER SECTION -->
        <footer class="footer">
            <div class="footer-container">
              <div class="footer__top">
                <div>
                  <img src="{% static 'images/logo-dark.png'%}" alt="">
                </div>
                <div class="footer-left footer-item">
                  <div class="contact-content" id="join-waitlist">
                    <h3 class="contact-title">Be the first to know when we launch!</h3>
                    <form action="" class="contact-form">
                      <div class="contact-form-div">
                        <label for="" class="contact-form-tag">Names</label>
                        <input
                          type="text"
                          placeholder="Insert your name"
                          class="contact-form-input"
                        />
                      </div>
                      <div class="contact-form-div">
                        <label for="" class="contact-form-tag">E-mail</label>
                        <input
                          type="email"
                          placeholder="Insert your email"
                          class="contact-form-input"
                        />
                      </div>
                      <button class="contact-button">Join Waitlist</button>
                    </form>
                  </div>
                </div>
                <div class="footer-right footer-item">
                 
                  <div class="footer__sections">
                    <div class="footer__section">
                      <div class="footer__section-header">
                          <h6>Dashboard</h6>
                      </div>
                      <div class="footer__section-links">
                          <a href="/feeds">
                              Feeds
                          </a>
                          <a href="/calendar">
                              Calendar
                          </a>
                          <a href="/news">
                              News & Articles
                          </a>
                          <a href="/blog">
                            SmartBat Blog
                          </a>
                          <a href="/channels">
                              Private Channels
                          </a>
                      </div>
                    </div>
                    <div class="footer__section">
                        <div class="footer__section-header">
                            <h6>Markets</h6>
                        </div>
                        <div class="footer__section-links">
                            <a href="/forex_assets">
                                Forex
                            </a>
                            <a href="/commodities_assets">
                                Commodities
                            </a>
                            <a href="/crypto_assets">
                              Cryptocurrency
                            </a>
                            <a href="/stocks_assets">
                              Stocks
                            </a>
                            <a href="/nft_assets">
                              NFTs
                            </a>
                            <a href="/indices_assets">
                              Indices
                            </a>
                            <a href="/bonds_assets">
                              Bonds
                            </a>
                            <a href="/etfs_assets">
                              ETFs
                            </a>
                            <a href="/reits_assets">
                              REITs
                            </a>
                            <a href="/other_assets">
                              Others
                            </a>
                        </div>
                    </div>
                    <div class="footer__section">
                      <div class="footer__section-header">
                          <h6>Company</h6>
                      </div>
                      <div class="footer__section-links">
                          <a href="/company#about-us">
                              About Us
                          </a>
                          <a href="/company#our-team">
                              Our Team
                          </a>
                          <a href="/company#our-partners">
                            Our  Partners
                           </a>
                          <a href="/company#our-careers">
                              Our Careers
                          </a>
                          <a href="/company#our-updates">
                           Our Updates
                          </a>
                          <a href="/company#contact-us">
                            Contact Us
                          </a>
                      </div>
                    </div>
                    <div class="footer__section">
                      <div class="footer__section-header">
                          <h6>Learn</h6>
                      </div>
                      <div class="footer__section-links">
                          <a href="/learn#whats-trending">
                              What's Trending
                          </a>
                          <a href="/learn#events">
                              Events
                          </a>
                  
                          <a href="/learn#research">
                            Research & Analysis
                          </a>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="footer__bottom">
                <div class="footer__copyright">
                    &#169; MarketBat 2023. All rights reserved.
                </div>
                <div class="footer__social-media">
                    <i class='bx bxl-facebook-circle' ></i>
                    <i class='bx bxl-twitter' ></i>
                    <i class='bx bxl-instagram-alt' ></i>
                    <i class='bx bxl-linkedin-square' ></i>
                    <i class='bx bxl-gmail' ></i>
                </div>
            </div>
            </div>
           
        </footer>