{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="learn__section">
    <div class="learn__section-body">
        <div class="learn__item" id="whats-trending">
            <div class="learn__item-header">
                <h1>What's trending ?</h1>
            </div>
            <div class="learn__item-body">
                <div class="learn__whats-trending-container">
                    <div class="learn__whats-trending-item">
                        <div class="learn__whats-trending-item-image">
                            <img src="{% static 'images/trending-1.jpeg' %}" alt="">
                        </div>
                        <div class="learn__whats-trending-item-description">
                            <p>
                                <span class="whats-trending-category">
                                    Cryptocurrency
                                </span> 
                                 - 
                                <span>
                                    August 24, 2013
                                </span>
                            </p>

                            <h2>Top NFT Tokens to know in 2023</h2>
                            <p>
                                Discover top NFT tokens making waves in 2023 and learn how to use them for blockchain gaming and actively participating in and shaping NFT platforms.
                            </p>
                            <p class="whats-trending-read-more">
                                <span>
                                    Read more >
                                </span>
                                
                            </p>
                        </div>
                    </div>
                    <div class="learn__whats-trending-item">
                        <div class="learn__whats-trending-item-image">
                            <img src="{% static 'images/trending-2.png' %}" alt="">
                        </div>
                        <div class="learn__whats-trending-item-description">
                            <p>
                                <span class="whats-trending-category">
                                    Stocks
                                </span> 
                                 - 
                                <span>
                                    September 15, 2023
                                </span>
                            </p>
                    
                            <h2>Exploring Renewable Energy Stocks</h2>
                            <p>
                                Dive into the world of renewable energy stocks and discover key players, trends, and investment opportunities in the evolving sustainable energy sector.
                            </p>
                            <p class="whats-trending-read-more">
                                <span>
                                    Read more >
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="learn__whats-trending-item">
                        <div class="learn__whats-trending-item-image">
                            <img src="{% static 'images/trending-3.jpeg' %}" alt="">
                        </div>
                        <div class="learn__whats-trending-item-description">
                            <p>
                                <span class="whats-trending-category">
                                    Forex
                                </span> 
                                 - 
                                <span>
                                    October 8, 2023
                                </span>
                            </p>
                    
                            <h2>The Art of Technical Analysis in Forex Trading</h2>
                            <p>
                                Learn the fundamentals of technical analysis in forex trading, including chart patterns, indicators, and strategies that can help enhance your trading decisions.
                            </p>
                            <p class="whats-trending-read-more">
                                <span>
                                    Read more >
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="learn__whats-trending-item">
                        <div class="learn__whats-trending-item-image">
                            <img src="{% static 'images/trending-4.jpeg' %}" alt="">
                        </div>
                        <div class="learn__whats-trending-item-description">
                            <p>
                                <span class="whats-trending-category">
                                    Crypto
                                </span> 
                                 - 
                                <span>
                                    November 3, 2023
                                </span>
                            </p>
                    
                            <h2>Understanding Decentralized Finance (DeFi)</h2>
                            <p>
                                Delve into the world of decentralized finance (DeFi) and learn about its revolutionary impact on traditional financial systems, its benefits, risks, and potential rewards.
                            </p>
                            <p class="whats-trending-read-more">
                                <span>
                                    Read more >
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="learn__whats-trending-item">
                        <div class="learn__whats-trending-item-image">
                            <img src="{% static 'images/trending-5.jpeg' %}" alt="">
                        </div>
                        <div class="learn__whats-trending-item-description">
                            <p>
                                <span class="whats-trending-category">
                                    Investing
                                </span> 
                                 - 
                                <span>
                                    December 21, 2023
                                </span>
                            </p>
                    
                            <h2>The Power of Dollar-Cost Averaging</h2>
                            <p>
                                Explore the concept of dollar-cost averaging and how it can help investors mitigate risks, lower average costs, and build a consistent investment strategy over time.
                            </p>
                            <p class="whats-trending-read-more">
                                <span>
                                    Read more >
                                </span>
                            </p>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
        </div>
        <div class="learn__item" id="events">
            <div class="learn__item-header">
                <h1>Upcoming Events</h1>
                
            </div>
            <div class="learn__item-body">
                <div class="learn__events-container">
                    <div class="learn__events-item">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-zoom' ></i>
                                        </span>
                                        Zoom
                                    </td>
                                    <td>Get to understand the importance of AI Campaign</td>
                                    <td>12.00 GMT / July 23, 2023</td>
                                    <td>
                                        <a href="">
                                            Attend
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxs-building-house' ></i>
                                        </span>
                                        Lagos, Nigeria
                                    </td>
                                    <td>University Bootcamp</td>
                                    <td>2.00 pm GMT / June 23, 2023</td>
                                    <td>
                                        <a href="">
                                            Attend
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-twitter' ></i>
                                        </span>
                                        Twitter Space
                                    </td>
                                    <td>Live Discussion on Crypto Trends</td>
                                    <td>6.30 pm GMT / August 10, 2023</td>
                                    <td>
                                        <a href="">
                                            Join
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bx-calendar-check' ></i>
                                        </span>
                                        Online Webinar
                                    </td>
                                    <td>Mastering Algorithmic Trading</td>
                                    <td>10.00 am GMT / September 5, 2023</td>
                                    <td>
                                        <a href="">
                                            Register
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-discord' ></i>
                                        </span>
                                        Discord Server
                                    </td>
                                    <td>Crypto Analysis Workshop</td>
                                    <td>4.00 pm GMT / October 15, 2023</td>
                                    <td>
                                        <a href="">
                                            Join
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxs-conversation' ></i>
                                        </span>
                                        Virtual Event
                                    </td>
                                    <td>Expert Panel on Market Volatility</td>
                                    <td>8.00 pm GMT / November 20, 2023</td>
                                    <td>
                                        <a href="">
                                            Participate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-linkedin' ></i>
                                        </span>
                                        LinkedIn Live
                                    </td>
                                    <td>Building a Diversified Investment Portfolio</td>
                                    <td>11.30 am GMT / December 8, 2023</td>
                                    <td>
                                        <a href="">
                                            Watch
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-zoom' ></i>
                                        </span>
                                        Zoom
                                    </td>
                                    <td>Get to understand the importance of AI Campaign</td>
                                    <td>12.00 GMT / July 23, 2023</td>
                                    <td>
                                        <a href="">
                                            Attend
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxs-building-house' ></i>
                                        </span>
                                        Lagos, Nigeria
                                    </td>
                                    <td>University Bootcamp</td>
                                    <td>2.00 pm GMT / June 23, 2023</td>
                                    <td>
                                        <a href="">
                                            Attend
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-twitter' ></i>
                                        </span>
                                        Twitter Space
                                    </td>
                                    <td>Live Discussion on Crypto Trends</td>
                                    <td>6.30 pm GMT / August 10, 2023</td>
                                    <td>
                                        <a href="">
                                            Join
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bx-calendar-check' ></i>
                                        </span>
                                        Online Webinar
                                    </td>
                                    <td>Mastering Algorithmic Trading</td>
                                    <td>10.00 am GMT / September 5, 2023</td>
                                    <td>
                                        <a href="">
                                            Register
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-discord' ></i>
                                        </span>
                                        Discord Server
                                    </td>
                                    <td>Crypto Analysis Workshop</td>
                                    <td>4.00 pm GMT / October 15, 2023</td>
                                    <td>
                                        <a href="">
                                            Join
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxs-conversation' ></i>
                                        </span>
                                        Virtual Event
                                    </td>
                                    <td>Expert Panel on Market Volatility</td>
                                    <td>8.00 pm GMT / November 20, 2023</td>
                                    <td>
                                        <a href="">
                                            Participate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <i class='bx bxl-linkedin' ></i>
                                        </span>
                                        LinkedIn Live
                                    </td>
                                    <td>Building a Diversified Investment Portfolio</td>
                                    <td>11.30 am GMT / December 8, 2023</td>
                                    <td>
                                        <a href="">
                                            Watch
                                        </a>
                                    </td>
                                </tr>
                       
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="learn__item" id="research">
            <div class="learn__item-header">
                <h1>Research & Analysis</h1>
            </div>
            <div class="learn__item-body">
                <div class="learn__research-container">
                    <div class="learn__research-item">
                        <p>Welcome to MarketBat's Research & Analysis division, where we dive deep into the world of financial markets to provide you with unparalleled insights and data-driven analysis. Our commitment is to empower investors with the knowledge they need to make informed decisions, backed by cutting-edge technology and extensive research.</p>
                        <p>At MarketBat, we understand that the modern financial landscape can be complex and ever-changing. That's why we've assembled a team of experts, data scientists, and industry professionals to curate and analyze market trends, asset performance, and economic indicators. Our research covers a wide spectrum of markets, including stocks, forex, cryptocurrencies, commodities, and more.</p>
                        <p>Our Research & Analysis process is rigorous and comprehensive. We gather data from trusted sources, utilize advanced algorithms to identify patterns, and conduct in-depth market studies. This information is meticulously analyzed to provide you with actionable insights that can guide your investment strategies. Whether you're a seasoned trader or a novice investor, our research caters to all levels of expertise.</p>
                        <p>The MarketBat Research & Analysis division covers a myriad of topics, including:</p>
                        <ul>
                            <li><strong>Market Trends:</strong> Stay ahead of market trends with our real-time analysis of price movements, volatility, and sentiment shifts. Our team closely monitors market dynamics to help you identify potential opportunities and risks.</li>
                            <li><strong>Economic Indicators:</strong> Gain an understanding of key economic indicators that drive market movements. We provide insights into unemployment rates, inflation, GDP growth, and more, helping you comprehend the broader economic landscape.</li>
                            <li><strong>Sector Analysis:</strong> Dive into specific sectors to explore their performance, emerging trends, and growth potential. Our sector-specific analysis equips you with the knowledge to make targeted investment decisions.</li>
                            <li><strong>Company Profiles:</strong> Get comprehensive insights into individual companies, including financial performance, news sentiment, and competitive positioning. Our company profiles empower you to make informed decisions about stock investments.</li>
                            <li><strong>Cryptocurrency Insights:</strong> Navigate the exciting world of cryptocurrencies with our in-depth analysis of digital assets, blockchain technology, and market trends. Whether you're a crypto enthusiast or exploring new horizons, our insights provide clarity.</li>
                            <li><strong>Global Events Impact:</strong> Understand how geopolitical events, economic announcements, and policy changes impact financial markets. Our analysis sheds light on the connections between global events and market movements.</li>
                            <li><strong>Educational Content:</strong> Alongside our analytical reports, we provide educational content that breaks down complex concepts into digestible information, empowering you to make well-informed investment decisions.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block title %} Learn - MarketBat {% endblock %}