{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="smartbat__section">
    <div class="smartbat__section-body">
        <div class="smartbat__item" id="what-is-smartbat">
            <div class="smartbat__item-header">
                <h1>SmartBat - Empowering Your Financial Decisions</h1>
            </div>
            <div class="smartbat__item-body" >
                <p>Welcome to SmartBat, your reliable partner in the world of financial markets. We combine advanced AI technology and sentiment analysis to provide you with insights that matter, helping you navigate the complexities of investing with confidence.</p>
                <p>Our cutting-edge algorithms analyze market trends, news sentiment, and economic indicators, allowing you to make informed decisions that align with your investment goals. Whether you're a seasoned trader or just getting started, SmartBat is here to empower you.</p>
                <p>Join us on a journey of financial discovery and uncover opportunities like never before. Experience the power of AI-backed insights and unlock your potential with SmartBat.</p>
            </div>
        </div>
        <div class="smartbat__item" id="subscribe">
            <div class="smartbat__item-header">
                <h1>Subscribe to SmartBat</h1>
            </div>
            <div class="smartbat__item-body" >
                <p>Unlock the full potential of SmartBat's features by subscribing to one of our membership plans. Choose the package that suits your needs and take advantage of AI-driven insights to elevate your investment strategies.</p>
                <div class="subscription-packages">
                    <div class="subscription-package">
                        <h2>Monthly Package</h2>
                        <p>Access to AI-powered insights</p>
                        <p>Real-time market analysis</p>
                        <p>Customizable alerts</p>
                        <p>24/7 customer support</p>
                        <h1>$25</h1>
                    </div>
                    <div class="subscription-package">
                        <h2>3 Months Package</h2>
                        <p>Access to AI-powered insights</p>
                        <p>Real-time market analysis</p>
                        <p>Customizable alerts</p>
                        <p>24/7 customer support</p>
                        <h1>$70(Save 10%)</h1>
                    </div>
                    <div class="subscription-package">
                        <h2>1 Year Package</h2>
                        <p>Access to AI-powered insights</p>
                        <p>Real-time market analysis</p>
                        <p>Customizable alerts</p>
                        <p>24/7 customer support</p>
                        <h1>$250 (Save 17%)</h1>
                    </div>
                </div>
                <p>Subscribe now and take your investing journey to the next level with SmartBat's AI-driven insights!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block title %} SmartBat - MarketBat {% endblock %}